{
	acme_dns cloudflare {$CLOUDFLARE_API_TOKEN}
	auto_https prefer_wildcard

	tailscale {
		auth_key {$TAILSCALE_AUTH_KEY}
	}
}

*.{$MY_DOMAIN} {
}

whoami.{$MY_DOMAIN} {
	reverse_proxy whoami
}

jelly.{$MY_DOMAIN} {
	reverse_proxy jellyfin:8096
}

# had to add sab.{$MY_DOMAIN} to host_whitelist
sab.{$MY_DOMAIN} {
	reverse_proxy sabnzbd:30055
}

# had to set PAPERLESS_URL=https://paper.{$MY_DOMAIN}
paper.{$MY_DOMAIN} {
	reverse_proxy paperless:30070 {
		header_down Referrer-Policy "strict-origin-when-cross-origin"
	}
}

radarr.{$MY_DOMAIN} {
	reverse_proxy radarr:30025
}

sonarr.{$MY_DOMAIN} {
	reverse_proxy sonarr:30113
}

home.{$MY_DOMAIN} {
	reverse_proxy homepage:30054
}

inv.{$MY_DOMAIN} {
	reverse_proxy invidious:31008
}

sync.{$MY_DOMAIN} {
	reverse_proxy syncthing:20910
}

# add truenas on port 81, not 80
# Caddy wants 80/443
nas.{$MY_DOMAIN} {
	reverse_proxy 192.168.33.71:81
}
