(inttls) {
	tls /certs/int.lapre.com/fullchain.cer /certs/int.lapre.com/int.lapre.com.key
}

portainer.int.lapre.com {
	import inttls
	reverse_proxy localhost:9443 {
		transport http {
			tls
			tls_insecure_skip_verify
		}
	}
}
